{{> layout/header2}}

<body>
  <div class="wrapper">
    <div class="main-panel">

      <div class="pa-15">
        <div class="card login-panel panel panel-default height-700">

          <div class="panel-heading">
            <h3 class="panel-title">쿠폰 작성</h3>
          </div>
          <div class="content">
            <form action="/admin/notice/save" method="post" enctype="application/x-www-form-urlencoded">
              <div class=" row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Coupon title</label>
                    <input type="text" id="" class="form-control" name="" placeholder="쿠폰 이름" value="" required />
                  </div>
                </div>

              </div>

              <div class="row container-nCenter">

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Reduce Amount</label>
                    <input type="number" id="" class="form-control" name="" placeholder="할인액" value="" disabled />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Coupon Count type</label>
                    <input type="number" id="" class="form-control" name="" placeholder="쿠폰 사용 횟수" value="" disabled />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Coupon Expired</label>
                    <input type="number" id="" class="form-control" name="" placeholder="False" value="" disabled />
                  </div>
                </div>
              </div>


              <div class="row container-nCenter">
                <div class="col-md-6">
                  <div class="item form-group">
                    <label class="label-align" for="discountExpiredAt">쿠폰 시작일</label>
                    <div class="">
                      <input id="discountExpiredAt" class="date-picker form-control required" placeholder="dd-mm-yyyy"
                        type="text" required="required" type="text" onfocus="this.type='date'"
                        onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'"
                        onmouseout="" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="item form-group">
                    <label class="label-align" for="discountExpiredAt">쿠폰 만료일</label>
                    <div class="">
                      <input id="discountExpiredAt" class="date-picker form-control required" placeholder="dd-mm-yyyy"
                        type="text" required="required" type="text" onfocus="this.type='date'"
                        onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'"
                        onmouseout="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Notice Content</label>
                    <textarea rows="10" cols="50" style="width: 570px; height: 350px; resize: none;"
                      placeholder="공지 내용을 입력하세요" name="noticeContent" id="noticeContent" disabled>ㄴㅁㅇㅁㅇ</textarea>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>


      {{> layout/footer}}